<div class="body"marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" data-feedly-mini="yes">

	
	<div class="logo" >
		<img src="/assets/logo.gif" >
		</div>
	<div class="section" style="float:right;">
		
			<div class="act">
		
		<font face="標楷體">贈品索取</font>
			</div>
			<div class="act2">
		<font face="標楷體">關於一無二</font>
			</div>
			<div class="act3">
		<font face="標楷體">最新消息</font>
			</div>
			<div class="act4">
		<font face="標楷體">一無二產品</font>
			</div>
			<div class="act5">
		<font face="標楷體">美麗見證</font>
			</div>
			<div class="act6">
				<font face="標楷體">即時互動</font>
		
		</div>
		
		</div>
	
	<div class="main">
		<img src="/assets/main.gif"width="100%">
	</div>
	
	
	</div>
</body>