
.main{
	width: 100%;
	height: auto;
	
}

	

.logo {
	width:30%;
	height: 90px;
float: left;
	
	
	
}

.section {
	
	height:90px;
	width:  70%;
	
	
	float: right;
	
}
}

body {
	
	
}

.act {
	margin-left: 150px;
	margin-right: 60px;
	width: auto;
	height: auto;
	margin-top: 25px;
	float: left;
	
}

.act2 {
	margin-right: 60px;
	width: auto;
	height: auto;
	margin-top: 25px;
		float: left;
}

.act3 {
		margin-right: 60px;
	width: auto;
	height: auto;
	margin-top: 25px;
		float: left;
}

.act4 {
		margin-right: 60px;
	width: auto;
	height: auto;
	margin-top: 25px;
		float: left;
}

.act5 {
		margin-right: 60px;
	width: auto;
	height: auto;
	margin-top: 25px;
		float: left;
}

.act6 {
		margin-right: 60px;
	width: auto;
	height: auto;
	margin-top: 25px;
		float: left;
}


